*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}


.main-container{
  max-width: 1480px;
  margin: auto;
}

body{
    background-color: #000000eb;
    color: #ffffff;
}

.header-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo{

}

.home-box{
    border: 1px,solid,#bfbfbf31;
    padding: 10px;
    border-radius: 7px;
} 

.home-box ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
    color: #BFBFBF;
    cursor: pointer;
}

.high{
    color: #ffffff;
    background-color: #bfbfbf31;
    padding: 10px;
    border-radius: 5px;
}

.header-icon{
    display: flex;
    gap: 20px;
    cursor: pointer;
}

.heading-box{
    color: #ffffff;
    text-align: center;
    margin-top: -14%;
}


.heading-2{
    margin-bottom: 5px;
}

.button-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}



.play{
    margin-top: 15px;
    width: 100px;
    padding: 7px;
    border-radius: 6px;
    background-color: #E50000;
    color: #ffffff;
    border: none;
    cursor: pointer;
    
}

.plus{
    padding: 8px;
    width: 30px;
    background-color: #0F0F0F;
    margin-top: 8px;
    border-radius: 4px;
}

.like{
    padding: 8px;
    width: 30px;
    background-color: #0F0F0F;
    margin-top: 8px;
    border-radius: 4px;
}

.voice{
    padding: 8px;
    width: 30px;
    background-color: #0F0F0F;
    margin-top: 8px;
    border-radius: 4px;
}

.heading-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 38px;
    gap: 5px;
}

.arrow-left{
    margin-right: 42%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F1F1F;
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.color{
    border: 3px,solid,#bfbfbf42;
    width: 27px;
    height: 4px;
    border-radius: 5px;
    background-color: #E50000;
}

.no{
    border: 3px,solid,#bfbfbf42;
    width: 18px;
    height: 4px;
    border-radius: 5px;
}

.arrow-right{
    margin-left: 42%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F1F1F;
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.movie-btn{
    padding: 10px;
    border-radius: 6px;
    background-color: #E50000;
    width: 80px;
    height: 34px;
    color: #ffffff;
    cursor: pointer;
    border: none;
}

.movie{
    gap: 15px;
    cursor: pointer;
    margin-top: 10%;
    margin-left: 60px;
}

.div-box{
    width: 95%;
    height: 2460px;
    margin-top: -1.4%;
    margin-left: 30px;
    border: 1px,solid,#bfbfbf30;
    border-radius: 10px;
}

.h1-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font: 1em sans-serif;
    margin-top: 70px;
    margin-left: 25px;
}

.icon-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 65px;
    margin-right: 20px;
    background-color: #0F0F0F;
    gap: 4px;
    border-radius: 5px;
}

.icon-left{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F1F1F;
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.icon-rigth{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F1F1F;
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.image-main-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 38px;
    margin-left: 7px;
    column-gap: 10px;
}

.image-container{
    margin-left: 20px;
    margin-top: 60px ;
}

.image-box{
    background-color: #1f1f1f6c;
    width: 185px;
    height: 255px;
    border-radius: 7px;
    padding-left: 15px;
    padding-top: 12px;
    border: 1px,solid,#302f2f89;
    
}

.img-p{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 70px;
    font: 1em sans-serif;
    margin-right: 15px;
}

.h2-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 70px;
}

.image-box-2{
    background-color: #1f1f1f6c;
    width: 210px;
    height: 270px;
    border-radius: 7px;
    padding-left: 9px;
    padding-top: 30px;
    border: 1px,solid,#302f2f89;
}

.button-2{
    background-color: #E50000;
    border: none;
    color: #ffffff;
    padding: 6px;
    border-radius: 7px;
    margin-left: 5px;
    margin-top: -50px;
    width: 70px;
    cursor: pointer;
}

.icon-left-arow{
    margin-left: 85%;
}

.act{
    margin-left: 8px;
    font: 1em sans-serif;
}


.h3-div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 70px;
}

.image-box-3{
    background-color: #1f1f1f6c;
    width: 180px;
    height: 245px;
    border-radius: 7px;
    padding-left: 9px;
    padding-top: 10px;
    border: 1px,solid,#302f2f89;
    margin-left: 30px;
    margin-right: 10px;
}

.view-box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.time-boxs{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
}

.time-box{
    display: flex;
    align-items: center;
    gap: 8px;
    background-color:#0F0F0F;
    border-radius: 15px;
    margin-top: 15px;
    padding-left: 4px;
    width: 340px;
    height: 30px;
    font: 0.9em sans-serif;
    
}

.view-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#0F0F0F;
    border-radius: 15px;
    margin-top: 15px;
    width: 200px;
    height: 30px;
    font: 0.8em sans-serif;
    gap: 3px;

}

.h4-div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 70px;
}

.para{
    background-color:#0F0F0F;
    border-radius: 15px;
    margin-top: 15px;
    width: 160px;
    height: 25px;
    font: 0.8em sans-serif;
    padding: 5px;
    
}

.h4-div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 70px;
}

.image-box-5{
    background-color: #1f1f1f6c;
    width: 230px;
    height: 300px;
    border-radius: 7px;
    padding-left: 9px;
    padding-top: 10px;
    border: 1px,solid,#302f2f89;
}

.main-box{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 26px;
    gap: 9px;
    margin-left: 11px;
}

.h5-div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 70px;
}

.h6-div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 70px;
}

.image-box-6{
    background-color: #1f1f1f6c;
    width: 230px;
    height: 300px;
    border-radius: 7px;
    padding-left: 9px;
    padding-top: 10px;
    border: 1px,solid,#302f2f89;
}

.main-box-6{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 26px;
    gap: 10px;
    margin-left: 11px;
}

.time-box-6{
    display: flex;
    align-items: center;
    gap: 8px;
    background-color:#0F0F0F;
    border-radius: 15px;
    margin-top: 15px;
    margin-left: -7px;
    width: 190px;
    height: 30px;
    font: 0.9em sans-serif;
    
}

.view-box-6{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#0F0F0F;
    border-radius: 15px;
    margin-top: 15px;
    width: 200px;
    height: 30px;
    font: 0.8em sans-serif;
    gap: 3px;
    margin-right: -13px;
}

.h7-div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 70px;
}

.image-box-7{
    background-color: #1f1f1f6c;
    width: 230px;
    height: 300px;
    border-radius: 7px;
    padding-left: 9px;
    padding-top: 10px;
    border: 1px,solid,#302f2f89;
}

.main-box-7{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 26px;
    gap: 10px;
    margin-left: 11px;
}

.time-box-7{
    display: flex;
    align-items: center;
    gap: 8px;
    background-color:#0F0F0F;
    border-radius: 15px;
    margin-top: 15px;
    margin-left: -7px;
    width: 190px;
    height: 30px;
    font: 0.9em sans-serif;
    
}

.view-box-7{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#0F0F0F;
    border-radius: 15px;
    margin-top: 15px;
    width: 200px;
    height: 30px;
    font: 0.8em sans-serif;
    gap: 3px;
    margin-right: -13px;
}

.start-main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 94%;
    height: 150px;
    border-radius: 15px;
    margin-top: 70px;
    margin-left: 35px;
    border: 1px,solid,#bfbfbf30;
}

.text{
    background-color:#0f0f0f2c;
    width: 40%;
    height: 145px;
    margin-right: 40%;
    border-radius: 15px;
    padding-top: 50px;
    font: 1em sans-serif;
    position: absolute;
    z-index: 3;
}

.text-para{
    width: 110%;
    height: 65px;
    margin-right: 30%;
    border-radius: 15px;
    padding-top: 10px;
    font: 1em sans-serif;
    position: absolute;
    z-index: 3;
    font: 0.7em sans-serif;
}


.back{
    width: 100%;
    height: 100%; 
    z-index: -3;
}

.button-3{
    background-color: #E50000;
    border: none;
    color: #ffffff;
    padding: 6px;
    border-radius: 7px;
    margin-left: 76%;
    width: 130px;
    height: 45px;
    font: 0.8em sans-serif;
    cursor: pointer;
    margin-top: 76px;
    position: absolute;
    z-index: 3;
}


footer{
    background-color: #0F0F0F;
    margin-bottom: 20px;
    height: 320px;
    border-radius: 3px;
    margin-top: 100px;
}

.box-home ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 135px;
    margin-top: 70px;
    font: 1em sans-serif;
}

.home{
    
}

.main-div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
    margin-left:-64%;
    
}


.p-main ul{
    display: flex;
    flex-direction: column-reverse;
    font: 0.9em sans-serif;
    list-style: none;
    color: #BFBFBF;
    margin-top: 20px;
    gap: 10px;
}

.main-div-2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-left: -7%;
    margin-top: -120px;
}

.main-div-3{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 160px;
    margin-left: 58%;
    margin-top: -120px;
}

.main-box-1{
    display: flex;
    align-items: center;
    gap: 5px;
}

.icon-box-1{
    background-color: #bfbfbf62;
    width: 35px;
    padding: 9px;
    border-radius: 3px;
}

.icon-box-2{
    background-color: #bfbfbf62;
    width: 35px;
    padding: 9px;
    border-radius: 3px;
}

.icon-box-3{
    background-color: #bfbfbf62;
    width: 35px;
    padding: 9px;
    border-radius: 3px;
}

.p-1{
    font: 0.9em sans-serif;
    list-style: none;
    color: #BFBFBF;
    margin-top: -36px;
    margin-right: 10px;
    list-style: none;
}

.hr{
    width: 89%;
    height: 1px;
    background-color: #BFBFBF;
    margin-left: 58px;
    margin-top: 10%;

}

.copy{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
    gap: 35%;
}

.stream{
    padding-top: 20px;
}

.team{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 20px;
} 










  /* @media screen and (max-width: 1480px;) {
  .main-container{
  max-width: 880px;
  margin: auto;
  }

    
} */